{% extends "base.html" %}
{% load static %}

{% block title %}Калькулятор растаможки авто из америки  2020 по закону 8487 | DriveAmerican{% endblock %}
{% block description %}Калькулятор растаможки авто 2020 Украина. Тарифы на растаможку авто из США (Закон 8487\8488),
    какие документы нужны для регистрации авто из сша{% endblock %}
{% block keywords %}рассчитать стоимость авто из сша, калькулятор растаможки авто в Украине,все платежи по пригону авто
    из сша,
    как заказать авто из США, перевозка автомобиля из США в контейнере по 4 машины
    морская, все документы для постановки авто из США{% endblock %}

{% block content %}

    <section class="page-section mt-70">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Калькулятор просчета стоимости доставки и растаможки авто из
                    США</h2>
            </div>


            <div class="row calc_block">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="calc_block-body block-shadow">
                                <form method="post" id="calculate_customs_form">
                                    {% csrf_token %}
                                    <div class="calc-labels">
                                        {% for fuel_type_key, fuel_type_value in fuel_types.items %}
                                            <input type="radio" class="calc-radio" name="fuel_type"
                                                   id="{{ fuel_type_key }}"
                                                   value="{{ fuel_type_key }}" id="{{ fuel_type_key }}"
                                                   {% if request.POST.fuel_type == fuel_type_key or fuel_type == fuel_type_key %}checked {% endif %}>
                                            <label for="{{ fuel_type_key }}" id="{{ fuel_type_key }}"
                                                   class="calc-label"><span>{{ fuel_type_value }}</span></label>
                                        {% endfor %}
                                    </div>
                                    <label for="auto_price">Цена:</label>
                                    <input class="form-control" type="number" name="auto_price"
                                           value="1000" required min="1">

                                    <div class="tab-content calc-tab-panel">
                                        <div class="tab-pane active" id="tap_petrol">
                                            <label for="auto_engine">Объем двигателя:</label>
                                            <select class="form-control" name="auto_engine">
                                                {% for capacity in engine_capacity %}
                                                    <option value="{{ capacity|stringformat:"f" }}"
                                                            {% if auto_engine == capacity %}selected{% endif %}>
                                                        {{ capacity }}</option>
                                                {% endfor %}
                                            </select>

                                            <label for="auto_age">Год выпуска автомобиля:</label>
                                            <select class="form-control" name="auto_age">
                                                {% for year in years %}
                                                    <option value="{{ year }}"
                                                            {% if auto_age == year|stringformat:"s" %}selected{% endif %}>
                                                        {{ year }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="tab-pane" id="tap_electro">
                                            <label for="auto_price">Мощность, кВт:</label>
                                            <input class="form-control" type="number" name="e_power"
                                                   value="20" min="1">
                                        </div>
                                    </div>

                                    <label for="auction_city">Аукцион:</label>
                                    <select class="form-control" name="auction" id="auction_id">
                                        <option value="IAAI">IAAI</option>
                                        <option value="Copart">Copart</option>
                                    </select>

                                    <label for="auction_city">Площадка аукциона:</label>
                                    <select name="auction_location" id="auction_location"
                                            class="form-control" data-dependent="port">
                                    </select>

                                    <div class="calc_block_btn">
                                        <button type="button" class="btn btn-lg btn-light-blue btn-rounded btn-block"
                                                id="calculate_all_payments_btn">
                                            Рассчитать
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="calc_block-table">
                        <div class="calc_block-row">
                            <div class="">Стоимость авто</div>
                            <div class="value"><span id="auto_price"></span>{{ request.POST.auto_price }}$</div>
                        </div>
                        <div class="calc_block-row">
                            <div class="">Комиссия аукциона</div>
                            <div class="value"><span id="auction_fee"></span>$</div>
                        </div>
                        <div class="calc_block-row">
                            <div class="">Комиссия банка за swift перевод</div>
                            <div class="value"><span id="swift_bank_commission"></span>$</div>
                        </div>
                        <div class="calc_block-row">
                            <div class="">Доставка по США</div>

                            <div class=" value"><span id="transportation_in_usa"></span>$</div>
                        </div>
                        <div class="calc_block-row">
                            <div class="">Доставка морем из <span class="font-weight-bold" id="shipping_port"></span>
                                порт США в Украину
                            </div>
                            <div class="value"><span id="shipping_price"></span>$</div>
                        </div>
                        <div class="calc_block-row">
                            <div class="">Страховка автомобиля <span class="attr">1%</span></div>
                            <div class="value"><span id="insurance_car"></span>$</div>
                        </div>
                        <div class="calc_block-row">
                            <div class="">Пересылка документов в Украину</div>
                            <div class="value"><span id="transportation_in_ukraine"></span>$
                            </div>
                        </div>
                        <div class="calc_block-row">
                            <div class="">Брокер и экспедитор</div>
                            <div class="value"><span id="broker_forwarder"></span>$</div>
                        </div>
                        <div class="calc_block-row">
                            <div class="">Стоянка в порту Одессы</div>
                            <div class="value"><span id="parking_port"></span>$</div>
                        </div>
                        <div class="calc_block-row">
                            <div class="font-weight-bold">Растаможка</div>
                            <div class="">Акциз <span id="excise"></span>$</div>
                            <div class="">Пошлина <span id="duty"></span>$</div>
                            <div class="">НДС <span id="vat"></span>$</div>
                            <div class="value"> = <span id="customs_clearance"></span>$</div>
                        </div>
                        <div class="calc_block-row">
                            <div class="">Сертификация</div>
                            <div class="value"><span id="certification"></span>$</div>
                        </div>
                        <div class="calc_block-row">
                            <div class="">Налог в пенсионный фонд <span class="attr"><span
                                    id="pension_single">4</span>%</span>
                            </div>
                            <div class="value"><span id="pension_tax"></span>$</div>
                        </div>
                        <div class="calc_block-row">
                            <div class="">Постановка на учет</div>
                            <div class="value"><span id="registration"></span>$</div>
                        </div>
                        <div class="calc_block-row">
                            <div class="">Услуги компании <a href="{% url 'home' %}#services_section">"Пакет
                                стандартний"</a></div>
                            <div class="value"><span id="company_services"></span>$</div>
                        </div>
                        <div class="calc_block-row total mt-3 font-weight-bold">
                            <div class="">Итоговая стоимость</div>
                            <div class="value"><span id="total_cost"></span>$</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <h3 class="section-heading text-uppercase">Узнать год производства автомобиля </h3>
            </div>
            <input class="form-control" type="" name="auto_vin" value="" required min="1">
            <button type="button" class="btn btn-lg btn-light-blue btn-rounded btn-block"
                    id="calculate_all_payments_btn">
                Рассчитать
            </button>
        </div>
    </section>

    <!-- Section -->
    <section class="page-section bg-light">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Необходимые документы для регистрации авто из США</h2>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <ul class="list alt list-ok">
                        <li class="fx animated undefined">
                            Техпаспорт (право собственности)
                            Title, Salvage certificate;
                        </li>
                        <li class="fx animated undefined">
                            Инвойс(счет/фактура) от продавца
                            клиенту со стоимостью авто;
                        </li>
                        <li class="fx animated undefined">
                            Экспортная декларация;
                        </li>
                        <li class="fx animated undefined">
                            Форма МД-2 (выдается на таможне), а также
                            МД-6 (акт осмотра);
                        </li>
                        <li class="fx animated undefined">
                            Удостоверение таможни (выдается после
                            растаможки авто);
                        </li>
                        <li class="fx animated undefined">
                            Сертификат соответствия.
                        </li>
                    </ul>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <a href="#" target="_blank"><img
                            src="{% static 'media/customs_img/title_130.png' %}"></a>
                    <a href="#" target="_blank"><img
                            src="{% static 'media/customs_img/invoice_130.png' %}"></a>
                    <a href="#" target="_blank"><img src="{% static 'media/customs_img/ex_130.png' %}"></a>
                    <a href="#" target="_blank"><img src="{% static 'media/customs_img/md_130.png' %}"></a>
                    <a href="#" target="_blank"><img src="{% static 'media/customs_img/pm_130.png' %}"></a>
                    <a href="#" target="_blank"><img src="{% static 'media/customs_img/certificate1_210.png' %}"></a>
                    <a href="#" target="_blank"><img src="{% static 'media/customs_img/certificate2_210.png' %}"></a>
                </div>
            </div>
        </div>
    </section>

    <div class="container z-depth-1 my-3">

        <!-- Section -->
        <section class="page-section">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Как проходит весь процесс от покупки в США до постановки авто
                    на учет в Украине</h2>
            </div>
            <!-- Modal -->

            <div class="row dark-grey-text">

                <div class="col-md-6 col-xl-4 mb-4">
                    <div class="media">
                        <div class="mr-4">
                            <span class="text-success"><i class="icon-fa fas fa-dollar-sign fa-2x"></i></span>
                        </div>
                        <div class="media-body">
                            <h6 class="font-weight-bold">Покупка</h6>
                            <p class="text-muted">Поиск, проверка, покупка автомобиля</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-4 mb-4">
                    <div class="media">
                        <div class="mr-4">
                            <span class="text-danger"><i class="icon-fa fas fa-dolly fa-2x"></i></span>
                        </div>
                        <div class="media-body">
                            <h6 class="font-weight-bold">Перевозка</h6>
                            <p class="text-muted">Отправка автомобиля в порт</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-4 mb-4">
                    <div class="media">
                        <div class="mr-4">
                            <span class="text-info"><i class="icon-fa fas fa-ship fa-2x"></i></span>
                        </div>
                        <div class="media-body">
                            <h6 class="font-weight-bold">Отправка морем</h6>
                            <p class="text-muted">Фотоотчет в порту перед загрузкой в контейнер и отправка по морю</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-4 mb-4">
                    <div class="media">
                        <div class="mr-4">
                            <span class="text-warning"><i class="icon-fa fas fa-anchor fa-2x"></i></span>
                        </div>
                        <div class="media-body">
                            <h6 class="font-weight-bold">Разгрузка</h6>
                            <p class="text-muted">Разгрузка в порту Одессы + фотоотчет</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-4 mb-4">
                    <div class="media">
                        <div class="mr-4">
                            <span class="text-muted"><i class="icon-fa fas fa-cogs fa-2x"></i></span>
                        </div>
                        <div class="media-body">
                            <h6 class="font-weight-bold">Растаможка</h6>
                            <p class="text-muted">Растаможка автомобиля и отправка в город назначения</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-4 mb-4">
                    <div class="media">
                        <div class="mr-4">
                            <span class="text-success"><i class="icon-fa far fa-handshake fa-2x"></i></span>
                        </div>
                        <div class="media-body">
                            <h6 class="font-weight-bold">Последний рывок</h6>
                            <p class="text-muted">Ремонт, сертификации, постановка автомобиля на учет</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section -->

    </div>
{% endblock %}