{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="page-section mt-70" id="customs_container">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Калькулятор растаможки на 2019 - 2020 год. Новые Тарифы - 8487/8488!</h2>
            </div>

            <div class="row calc_block">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="calc_block-body block-shadow">
                                <form method="post" id="calculate_customs_form">
                                    {% csrf_token %}
                                    <div class="calc-labels">
                                        {% for fuel_type_key, fuel_type_value in fuel_types.items %}
                                            <input type="radio" class="calc-radio" name="fuel_type"
                                                   id="{{ fuel_type_key }}"
                                                   value="{{ fuel_type_key }}" id="{{ fuel_type_key }}"
                                                   {% if request.POST.fuel_type == fuel_type_key or fuel_type == fuel_type_key %}checked {% endif %}>
                                            <label for="{{ fuel_type_key }}" id="{{ fuel_type_key }}"
                                                   class="calc-label"><span>{{ fuel_type_value }}</span></label>
                                        {% endfor %}
                                    </div>
                                    <label for="auto_price">Цена:</label>
                                    <input class="form-control" type="number" name="auto_price"
                                           value="1000" required min="1">

                                    <div class="tab-content calc-tab-panel">
                                        <div class="tab-pane active" id="tap_petrol">
                                            <label for="auto_engine">Объем двигателя:</label>
                                            <select class="form-control" name="auto_engine">
                                                {% for capacity in engine_capacity %}
                                                    <option value="{{ capacity|stringformat:"f" }}">{{ capacity }}</option>
                                                {% endfor %}
                                            </select>

                                            <label for="auto_age">Год выпуска автомобиля:</label>
                                            <select class="form-control" name="auto_age">
                                                {% for year in years %}
                                                    <option value="{{ year }}">{{ year }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="tab-pane" id="tap_electro">
                                            <label for="auto_price">Мощность, кВт:</label>
                                            <input class="form-control" type="number" name="e_power"
                                                   value="20" min="1">
                                        </div>
                                    </div>

                                    <div class="calc_block_btn">
                                        <button type="button" class="btn btn-md btn-light-blue btn-rounded btn-block"
                                                id="calculate_customs_btn">
                                            Рассчитать
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="calc_block-table">
                        <div class="calc_block-row font-weight-bold">
                            <div class="">Цена с растаможкой</div>
                            <div class="value"><span id="total_cost"></span>$</div>
                        </div>
                        <div class="calc_block-row mt-2">
                            <div class="">Акцизный сбор</div>
                            <div class="value"><span id="excise"></span>$</div>
                        </div>
                        <div class="calc_block-row">
                            <div class="">Пошлина <span class="attr">10%</span></div>
                            <div class="value"><span id="duty"></span>$</div>
                        </div>
                        <div class="calc_block-row">
                            <div class="">НДС <span class="attr">20%</span></div>
                            <div class="value"><span id="vat"></span>$</div>

                        </div>
                        <div class="calc_block-row font-weight-bold">
                            <div class="">Всего таможенных платежей</div>
                            <div class="value"><span id="customs_clearance"></span>$</div>
                        </div>
                        <div class="mt-5 font-weight-bold">
                            <div class="">Дополнительные расходы</div>
                        </div>
                        <div class="calc_block-row">
                            <div class="">Налог в пенсионный фонд <span class="attr"><span
                                    id="pension_single">4</span>%</span>
                            </div>
                            <div class="value"><span id="pension_tax"></span>$</div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </section>

    <section class="page-section bg-light">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">ПО КАКИМ ТАРИФАМ БУДУТ РАСТАМАЖИВАТЬСЯ АВТОМОБИЛИ В УКРАИНЕ В
                    2020 ГОДУ?</h2>
            </div>
        </div>

        <strong style="">Новые Акцизные ставки на 2019 - 2020 год: Сколько стоит растаможка?</strong>
        <ul>
            <li>Базовая ставка акцизного налога для бензиновых двигателей объемом до 3000 см3 = 50 евро;</li>
            <li>Базовая ставка акцизного налога для бензиновых двигателей объемом свыше 3000 см3 = 100 евро;</li>
            <li>Базовая ставка акцизного налога для дизельных двигателей объемом до 3500 см3 = 75 евро;</li>
            <li>Базовая ставка акцизного налога для дизельных двигателей объемом свыше 3500 см3 = 150 евро;</li>
            <li>Вводится коэффициент возраста автомобиля равный 15, т.е. авто старше 15 лет, будут таможится с
                коэфициентом = 15;
            </li>
            <li>Так же предусмотрено использование понижающих коэфициентов в размере 0,5 при расчете ставки налога за
                растаможку ранее ввезенных авто (так называемых «евроблях»), если она будет произведена в течение первых
                90 дней со дня вступления в силу закона.;
            </li>
        </ul>
        <p><strong>Чтобы рассчитать полную стоимость растаможки автомобиля, <a class="lazy_anchor"
                                                                               href="#customs_container">воспользуйтесь
            калькулятором, выше на странице</a>. По законам Украины, на 2019 - 2020 год, не имеет значния откуда ввезена
            машина (США, Европа, Корея, Эмираты, Азия),
            для всех случаев таможенная очистка считается по одной формуле! </strong></p>


    </section>

    <section class="page-section">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">РАСТАМОЖКА ЭЛЕКТРОМОБИЛЕЙ 2020, И ГИБРИДОВ: ТАРИФЫ</h2>
            </div>
        </div>

        <ul>
            <li>Электромобиль растамаживается по ставке 1 евро за 1кВт/ч <strong>(НДС, Акциз
                и Ввозная пошлина не уплачиваются)</strong>;
            </li>
            <li>Растаможка гибридных автомобилей = 100 евро за единицу;</li>
        </ul>
        <p><strong> <span style="">ПОДРОБНО О ЗАКОНОПРОЕКТЕ 8487/8488:</span> </strong> <strong>Что изменилось с
            приходом закона 8487? Пример расчета растаможки по новым тарифам. Все о новом законе, <a
                    href="https://zakon.rada.gov.ua/laws/show/2611-19">ЧИТАЙТЕ ТУТ.</a></strong></p>
    </section>
{% endblock %}