{% extends "base.html" %}
{% load static %}

{% block title %}Как искать, выбирать и покупке авто из США{% endblock %}
{% block description %}Как искать и выбирать автомобили на страховых аукционах iAAI Copart. Типы документа о
    праве собственности. Документы, на которые можно оформить экспорт. Оценка степени повреждения
    автомобиля. {% endblock %}
{% block keywords %}как искать и выбирать автомобилии, виды повреждений, типы документа, типы повреждений {% endblock %}

{% block content %}
    <section class="page-section mt-70">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Как искать и выбирать автомобили на страховых аукционах iAAI
                    Copart</h2>
            </div>
            <div>
                <p>Данная информация может быть применена как к аукциона Copart так и IAAI. Описание будет
                    проводиться на примере аукциона IAAI. На аукционе IAAI почти все автомобили продаются страховыми
                    компаниями, в то время как на аукционе Copart очень большое количество автомобилей продается
                    дилерами (по-простому - перекупщиками). Такие автомобили часто имеют скрытые и замаскированные
                    повреждения. Кроме того, в силу более простых требований для регистрации на аукционе Copart большее
                    количество покупателей и выше конкуренция, чем на аукционе IAAI.</p>

                <p>После входа на сайт <a href="https://www.iaai.com/ru-ru/">www.iaai.com</a> вы попадаете на главную
                    страницу
                    аукциона. Для удобства спустившись
                    в самый низ страницу, вы можете изменить язык на Русский.</p>

                <p>В верхней части страницы вы увидите выпадающее меню. Во вкладке «ТРАНСПОРТНЫЕ СРЕДСТВА» есть два
                    пункта предназначенных для поиска автомобилей: Расширенный поиск и Fast Search (быстрый поиск).
                    Перейдя на страницу поиска в левой ее части, вы увидите фильтры, используя которые можно задать
                    различные параметры поиска. Большинство из них понятны и не требуют объяснений, некоторые же мы
                    рассмотрим ниже. Отфильтровав по заданным параметрам интересные автомобили, перейдем к тому, на что
                    следует обращать внимание, рассматривая подходящий автомобиль.
                </p>
                <h2>1. Типы документа о праве собственности</h2>
                <p>Первое, на что стоит обратить внимание это тип документа о праве собственности. Не все типы
                    документов, идущие вместе с автомобилями, дают право оформить экспортные документы и вывезти
                    автомобиль с США. Ниже в таблице показаны те типы документов, на которые можно оформить экспорт и
                    можно покупать, а также те, на которые экспорт оформить нельзя и какие покупать не рекомендуется
                    (кроме случаев, когда Вы хотите сделать распил автомобиля на запчасти).</p>

                <div class="text-center">
                    <table class="table table-sm">
                        <tbody>
                        <tr class="su-even">
                            <th scope="col">
                                <p style="text-align: center;"><strong><span
                                        class="green-text text-uppercase font-weight-bold">Можно покупать</span></strong>
                                </p>
                            </th>
                            <th scope="col">
                                <p style="text-align: center;"><strong><span
                                        style="color: #ff0000;"
                                        class="text-uppercase   font-weight-bold">Нужно уточнять</span></strong></p>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: center;"><span class="green-text">Clean Title</span></p>
                                <p style="text-align: center;"><span class="green-text">Salvage Title</span></p>
                                <p style="text-align: center;"><span
                                        class="green-text">Rebuildable Salvage Certificate</span></p>
                                <p style="text-align: center;"><span
                                        class="green-text">Certificate of Destruction</span></p>
                                <p style="text-align: center;"><span class="green-text">Non-Repairable</span></p>
                                <p style="text-align: center;"><span style="color: #fdbe0d;">Rebuilt Title/Restored/Reconstructed</span>
                                </p>
                                <p style="text-align: center;"><span style="color: #fdbe0d;">Clear Title</span></p>
                            </td>
                            <td>
                                <p style="text-align: center;"><span style="color: #ff0000;">Bill of Sale (BOS)</span>
                                </p>
                                <p style="text-align: center;"><span
                                        style="color: #ff0000;">Junk Receipt/Junk Certificate</span></p>
                                <p style="text-align: center;"><span style="color: #ff0000;">Parts Only</span></p>
                                <p style="text-align: center;"><span style="color: #ff0000;">No Title Letter</span></p>
                                <p style="text-align: center;"><span style="color: #ff0000;">Dismantle or Scrap</span>
                                </p>
                                <p style="text-align: center;"><span
                                        style="color: #ff0000;">Scrap Certificate of Title</span></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h4>Документы, на которые можно оформить экспорт </h4>
                <Ol>
                    <li style="text-align: justify;"> Clean Title (Original) - Чистый Сертификат - выдается на
                        автомобили которые не подвергались повреждений или повреждения были не столь значительными,
                        чтобы автомобиль списывать в утиль.
                    </li>
                    <li style="text-align: justify;"> Salvage Title - сертификат с отметкой о списании. Самый
                        распространенный сертификат на страховых аукционах. Выдается в случае попадания автомобиля в
                        ДТП, наводнения, повреждения градом, угона и других повреждениях.
                    </li>
                    <li style="text-align: justify;"> Rebuildable Salvage Certificate - подлежит восстановлению -
                        сертификат аналогичный Salvage Title, который выдается после того, как автомобиль с Salvage
                        Title был кем-то выкуплен.
                    </li>
                    <li style="text-align: justify;"> Certificate of Destruction - аналог предыдущего, только при
                        наличии более серьезных повреждений.
                    </li>
                    <li style="text-align: justify;"> Non-Repairable - автомобили, не подлежащие ремонту с целью
                        дальнейшей регистрации в США. Интересны с точки зрения экспорта за пределы США так как
                        продаются как правило по более низким ценам.
                    </li>
                    <li style="text-align: justify;"> Rebuilt Title / Restored / Reconstructed - автомобили которые
                        сначала получили Salvage Title, но после этого были восстановлены и отремонтированы. На этот
                        тип документа можно оформить экспорт, но мы обозначили его желтым цветом, так как в таких
                        автомобилях следует тщательно проверять историю и желательно заказывать инспекцию. Не всегда
                        ремонт проводится качественно.
                    </li>
                    <li style="text-align: justify;"> Clear Title - аналог Rebuilt Title / Restored /
                        Reconstructed.
                    </li>
                </Ol>

                <h4> Типы документов, на которые нельзя оформить экспорт </h4>
                <ol>
                    <li style="text-align: justify;"> Bill of Sale (BOS) - чек на продажу автомобиля, не является
                        сертификатом.
                    </li>
                    <li style="text-align: justify;"> Junk Receipt / Junk Certificate - сертификат на утилизацию.</li>
                    <li style="text-align: justify;"> Parts Only - только на запчасти.</li>
                    <li style="text-align: justify;"> No Title Letter - нет сертификата.</li>

                </ol>
                <li style="text-align: justify;"> Dismantle or Scrap - разборка или утилизация.</li>
                <li style="text-align: justify;"> Scrap Certificate of Title - сертификат на утилизацию (металлолом).
                </li>
                </Ol>


                <h2>2. Кто продает автомобиль?</h2>
                <p>Следующее, на что необходимо обратить внимание - кто продает автомобиль. Эта информация указана в
                    графе «Продавец». Мы рекомендуем покупать автомобили, которые продают страховые компании. На
                    аукционе IAAI, в отличие от аукциона Copart, таких автомобилей большинство (ориентировочно 90-95%).
                    Страховые компании не занимаются сокрытием от покупателей дефектов и повреждений в автомобилях.</p>
                <p>
                    После того, как вы убедились, что автомобиль имеет документы, на которые можно оформить экспорт и
                    продается страховой компанией можно переходить к оценке его состояния и степени повреждения. В
                    тексте под фотографиями автомобиля необходимо обратить внимание на следующие надписи:
                </p>

                <ol>
                    <li>Run & Drive - Заводится и едет - это примечание информирует о том, что на момент поступления
                        автомобиля на площадку аукциона и проведения его инспекции сотрудником аукциона, автомобиль
                        заводился и был в состоянии проехать несколько метров вперед и несколько метров назад.
                    </li>
                    <li>Vehicle Starts - Автомобиль заводится.</li>
                    <li>Vehicle Starts With Jump - Заводится от внешнего источника.</li>
                    <li>Vehicle Will not Start - не заводится. (На аукционе Copart автомобили, которые не заводятся,
                        имеют обозначение "Enhanced Vehicle»)
                    </li>
                </ol>

                <p>Необходимо учитывать, что эта информация носит исключительно информативный характер и аукцион не
                    несет ответственности за то, если например автомобиль с обозначением «Run & Drive» после покупки
                    вследствие каких-либо причин (например, сел аккумулятор) - не заведется.
                </p>
                <P>
                    Также следует обратить внимание на наличие / отсутствие ключа у автомобиля. Так, как в некоторых
                    случаях причиной того, что автомобиль не заводится может быть отсутствие ключей. Такие автомобили,
                    как правило, продаются дешевле, но их покупка несет в себе дополнительные риски.</p>


                <h2>2. Оценка степени повреждения автомобиля.</h2>
                <p>В описании автомобиля указывается информация о типе основного и дополнительного повреждений.
                    <a href="https://driveamerican.top/blog/iaai-copart/">Более детальную информацию
                        можно найти у нас в блоге по ссылке</a>
                    В таблице ниже приведена краткая расшифровка всех возможных типов повреждений.</p>
                <table class="table table-sm">
                    <tbody>
                    <tr class="su-even">
                        <td>
                            <p style="text-align: center;"><strong>AO</strong></p>
                        </td>
                        <td>
                            <p>ALL OVER (ущер больше чем трех сторон)</p>
                        </td>
                        <td>
                            <p style="text-align: center;"><strong>BC</strong></p>
                        </td>
                        <td>
                            <p>BIOHAZARDOUS/CHEMICAL (биологическая / химическая опасность)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="text-align: center;"><strong>BE</strong></p>
                        </td>
                        <td>
                            <p>BURN - ENGINE (пожар - двигателя)</p>
                        </td>
                        <td>
                            <p style="text-align: center;"><strong>BI</strong></p>
                        </td>
                        <td>
                            <p>BURN - INTERIOR (пожар - салона)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="text-align: center;"><strong>DH</strong></p>
                        </td>
                        <td>
                            <p>DAMAGE HISTORY (история повреждений)</p>
                        </td>
                        <td>
                            <p style="text-align: center;"><strong>FD</strong></p>
                        </td>
                        <td>
                            <p>FRAME DAMAGE REPORTED (заявленное повреждения корпуса)</p>
                        </td>
                    </tr>
                    <tr class="su-even">
                        <td>
                            <p style="text-align: center;"><strong>FR</strong></p>
                        </td>
                        <td>
                            <p>FRONT END (передняя часть)</p>
                        </td>
                        <td>
                            <p style="text-align: center;"><strong>HL</strong></p>
                        </td>
                        <td>
                            <p>HAIL (град)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="text-align: center;"><strong>MC</strong></p>
                        </td>
                        <td>
                            <p>MECHANICAL (механические повреждения)</p>
                        </td>
                        <td>
                            <p style="text-align: center;"><strong>MN</strong></p>
                        </td>
                        <td>
                            <p>MINOR DENTS/SCRATCHES (незначительные выбоины / царапины)</p>
                        </td>
                    </tr>
                    <tr class="su-even">
                        <td>
                            <p style="text-align: center;"><strong>NW</strong></p>
                        </td>
                        <td>
                            <p>NORMAL WEAR (естественный износ)</p>
                        </td>
                        <td>
                            <p style="text-align: center;"><strong>PR</strong></p>
                        </td>
                        <td>
                            <p>PARTIAL/INCOMPLETE REPAIR (частковий/неповний ремонт)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="text-align: center;"><strong>RJ</strong></p>
                        </td>
                        <td>
                            <p>REJECTED REPAIR (в ремонте было отказано)</p>
                        </td>
                        <td>
                            <p style="text-align: center;"><strong>RO</strong></p>
                        </td>
                        <td>
                            <p>ROLLOVER (переворот)</p>
                        </td>
                    </tr>
                    <tr class="su-even">
                        <td>
                            <p style="text-align: center;"><strong>RR</strong></p>
                        </td>
                        <td>
                            <p>REAR END (задняя часть)</p>
                        </td>
                        <td>
                            <p style="text-align: center;"><strong>SD</strong></p>
                        </td>
                        <td>
                            <p>SIDE (бокова часть)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="text-align: center;"><strong>ST</strong></p>
                        </td>
                        <td>
                            <p>STRIPPED (снята обшивка)</p>
                        </td>
                        <td>
                            <p style="text-align: center;"><strong>TP</strong></p>
                        </td>
                        <td>
                            <p>TOP/ROOF (верхня часть/крыша)</p>
                        </td>
                    </tr>
                    <tr class="su-even">
                        <td>
                            <p style="text-align: center;"><strong>UK</strong></p>
                        </td>
                        <td>
                            <p>UNKNOWN (неизвестно)</p>
                        </td>
                        <td>
                            <p style="text-align: center;"><strong>UN</strong></p>
                        </td>
                        <td>
                            <p>UNDERCARRIAGE (ходовая часть)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="text-align: center;"><strong>VI</strong></p>
                        </td>
                        <td>
                            <p>MISSING/ALTERED VIN (отсутствует / изменен VIN)</p>
                        </td>
                        <td>
                            <p style="text-align: center;"><strong>VN</strong></p>
                        </td>
                        <td>
                            <p>VANDALISM (вандализм)</p>
                        </td>
                    </tr>
                    <tr class="su-even">
                        <td>
                            <p style="text-align: center;"><strong>VP</strong></p>
                        </td>
                        <td>
                            <p>REPLACED VIN (изменен VIN)</p>
                        </td>
                        <td>
                            <p style="text-align: center;"><strong>WA</strong></p>
                        </td>
                        <td>
                            <p>WATER/FLOOD (ЗАТОПЛЕНИЯ / НАВОДНЕНИЕ)</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p>
                    Значительная часть автомобилей, интересных с точки зрения покупки и восстановление - это автомобили
                    с видимыми кузовными повреждениями. При анализе фотографий автомобиля, необходимо примерно
                    представить какой у автомобиля был удар. Если автомобиль снаружи кажется целым, но в него выстрелили
                    подушки безопасности, не сходятся зазоры на бампере, капоте или других элементах, скорее всего этот
                    автомобиль имеет скрытые и замаскированные дефекты или был некачественно восстановлен. Такие
                    автомобили продаются преимущественно дилерами, их нет на аукционе IAAI, но очень много на аукционе
                    Copart, особенно это касается автомобилей премиум класса. Часто для того, чтобы «вычислить» такой
                    автомобиль достаточно убить его VIN-код в поисковик Google, и можно увидеть фотографии этого же
                    автомобиля, но с очень тяжелыми повреждениями. Иногда приходится проводить более тщательную проверку
                    и смотреть историю автомобиля по базам Carfax и Epicvin.
                </p>
            </div>

        </div>
        </div>
    </section>
{% endblock %}