{% extends "base.html" %}
{% load static %}

{% block title %} {% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
    <section class="page-section mt-70">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Ответы на часто задаваемые вопросы по доставке машин:</h2>
            </div>

            <div><h2>Как доставить автомобиль с Америки в Украину</h2>
                <p>В 2020 году автомобиль не является роскошью, а служит средством для передвижения. Поскольку в Украине
                    цены на иномарки достаточно высокие, альтернативным вариантом считается доставка автомобилей из США.
                    Данный способ, помимо уменьшения затрат, предоставляет массу преимуществ. Подобные сделки
                    практикуются давно, но массовая доставка авто из США в Украину началась лишь несколько лет назад,
                    когда государство предоставило автолюбителям льготы на растаможку машин.</p>
                <h2>Доставка автомобилей из США и ее преимущества</h2>
                <p>Безусловно, главным плюсом пригона авто из США является стоимость всей этой процедуры. Во-первых, на
                    другом континенте цены на машины существенно ниже, чем в Украине, особенно на поддержанный
                    транспорт. Во-вторых, даже если учесть все затраты на доставку груза и растаможку, все равно такой
                    вариант смотрится намного предпочтительней.</p>
                <p>К достоинствам данного способа приобретения автомашины можно также отнести:</p>
                <ul>
                    <li>Большой выбор. Американский рынок б/у авто является самым крупным в мире. Здесь
                        сосредотачиваются машины любых марок и моделей. Для многих именитых производителей США является
                        основным рынком продажи своего товара;
                    </li>
                    <li>Хорошее состояние транспорта. Большинство автомобилей, которые выставлены на аукцион, попадают
                        туда после ДТП или из-за конфискации. 95% всех машин, которые присутствуют на американском рынке
                        поддержанных авто, не старше 10 лет, а возраст половины до 5 лет. Так получается потому, что
                        американцы периодически меняют свое транспортное средство на более новое. За это время транспорт
                        не успевает потерять свои эксплуатационные характеристики, поэтому наши автолюбители могут
                        спокойно ездить на нем в течение 10 лет;
                    </li>
                    <li>Пробег. Поскольку на аукционе многие машины после ДТП, нередкие случаи, когда пробег автомобиля
                        не превышает 10 000 км. Если повреждения незначительные, их можно легко устранить, и в итоге
                        получится практически новое авто.
                    </li>
                </ul>
                <h2>Как происходит доставка авто из США</h2>
                <p>Чтобы доставить поддержанное авто из США в Украину, необходимо обраться за помощью к дилеру. Процесс
                    приобретения машины выглядит следующим образом:</p>
                <ul>
                    <li>После обращения к дилеру, сотрудники организации подбирают для клиента подходящую модель
                        автомобиля, которая будет соответствовать его пожеланиям и мечтам;
                    </li>
                    <li>Вносится страховой депозит, в размере 1000$, деньги с которого пойдут на торг за выбранный лот и
                        оплату услуг продавца;
                    </li>
                    <li>В случае успеха, авто перевозится в ближайший порт, осуществляется загрузка в контейнер, и по
                        морю доставляется в Одессу;
                    </li>
                </ul>
                <p>По прибытию автомобиля в пункт назначения, проводится постановка на учет.<br> При подборе лота,
                    следует принимать во внимание сколько будет стоить сама доставка авто из США, поскольку при этом
                    учитывается расстояние между пунктами и тип кузова машины. Переправить седан обойдется дешевле, чем
                    кроссовер.</p>
                <h2>Как пригнать б/у авто из США в Украину</h2>
                <p>Наша компания является сертифицированным дилером. За последние годы нами было доставлено 1200
                    автомобилей из-за океана. Мы стараемся комплексно подходить к выполнению работы, чтобы для клиента
                    процесс казался предельно понятным.</p>
                <p>Мы берем логистику на себя, занимаемся оформлением всех документов, вплоть до вручения клиенту ключей
                    от автомобиля. За дополнительной информацией и со всеми вопросами можно обратиться на наш сайт.
                    Доставка б/у авто из США в Одессу осуществляется за 7-8 недель.</p> <br></div>
        </div>
    </section>
{% endblock %}