<!-- Footer -->
<footer class="page-footer font-small lighten-3 py-4 dark-grey-text top-nav-collapse">

    <!-- Footer Elements -->
    <div class="container">

        <div class="row">
            <div class="col-6">
                <h3 class="font-weight-bold mb-0 text-black-50">Drive American</h3>
            </div>


            <div class="col-6 footer-copyright text-right bg-transparent text-black-50 mt-2">Copyright © 2019</div>
        </div>

    </div>
    <!-- Footer Elements -->

</footer>
<!-- Footer -->