{% extends "base.html" %}
{% load static %}

{% block title %}Купить авто из США - Драйв Американ driveamerican {% endblock %}
{% block description %}Заказ, доставка и растаможка бу авто из страховых аукционов США IAAI Copart{% endblock %}
{% block keywords %}авто из сша, купить авто из америки, driveamerican, купити авто з сша, купить авто в сша бу, Авто с
    Аукционов Америки: Copart, Manheim, IAAI, пригнать авто из Америки, доставка авто из Америки{% endblock %}

{% block content %}

    <!-- Main navigation -->
    <header>
        <!-- Full Page Intro -->
        <div class="view jarallax" data-jarallax='{"speed": 0.2}'>
            <!-- Mask & flexbox options-->
            <div class="mask d-flex justify-content-center align-items-center">
                <!-- Content -->
                <div class="container">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-12 white-text text-center">
                            <h1 class="pt-5 green-text font-weight-bold">АВТО ИЗ США
                            </h1>
                            <h2 class="text-uppercase pt-md-5 pt-sm-1 pb-md-5 pb-sm-1 blue-text font-weight-bold">
                                <spab class="blue_bg">Подбор, доставка и оформление в Украине б/у автомобилей со
                                страховых аукционов Америки: Copart IAAI Manheim</spab></h2>
                            <div class="wow fadeInDown" data-wow-delay="0.3s">
                                <a href="{% url 'calculation' %}" class="btn btn-light-blue btn-lg btn-rounded">Калькулятор</a>
                                <a href="#services_section" class="btn btn-light-blue btn-lg btn-rounded">Услуги</a>
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
        </div>
        <!-- Full Page Intro -->
    </header>
    <!-- Main navigation -->





    <!-- Section privileges-->
    <section class="page-section privileges">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Основные преимущества заказа авто из Америки</h2>
            </div>

            <div class="row">

                <div class="col-md-6 col-xl-3 mb-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <p class="mt-4 pt-2"><i class="fas fa-search fa-4x"></i></p>
                            <h5 class="font-weight-normal my-4 py-2">Полная информация об истории обслуживания и
                                оригинальный пробег</h5>
                            <p class="mb-4">За небольшую сумму, любой покупатель, по VIN-коду авто, может получить
                                полный доступ к истории машины, включая и данные о ее обслуживании, в системе Autocheck
                                либо Carfax.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3 mb-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <p class="mt-4 pt-2"><i class="fas fa-tools fa-4x"></i></p>
                            <h5 class="font-weight-normal my-4 py-2">Превосходное техническое состояние машины</h5>
                            <p class="text-muted mb-4">Умеренный климат и отличные дороги позволяют содержать двигатель
                                и подвеску в хорошем состоянии и после немалого пробега, а кузов автомобиля уберечь от
                                коррозии. Кроме того, в США действует система обязательного и регулярного
                                техобслуживания, принуждающая автовладельцев следить за состоянием авто.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3 mb-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <p class="mt-4 pt-2"><i class="fas fa-hand-holding-usd fa-4x"></i></p>
                            <h5 class="font-weight-normal my-4 py-2">Колоссальная экономия до 40%</h5>
                            <p class="mb-4">Даже с учетом стоимости переправки авто через океан и разтаможки, она будет
                                стоить существенно меньше, чем такой же автомобиль из Европы.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <p class="mt-4 pt-2"><i class="fas fa-tachometer-alt fa-4x"></i></p>
                            <h5 class="font-weight-normal my-4 py-2">Впечатляющая комплектация</h5>
                            <p class="text-muted mb-4"> И здесь конкуренция играет свою роль. Автопроизводители всегда
                                стараются максимально укомплектовать свою продукцию, чтобы привлечь внимание
                                потенциального покупателя. Поэтому, практически всегда, американский автомобиль будет
                                наделен гидроусилителем руля, кондиционером, сигнализацией, полным электропакетом,
                                кожаным салоном и литыми дисками.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Section -->


    <section class="page-section" id="services_section">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Варианты сотрудничества</h2>
            </div>

            <div class="row text-center services">

                <div class="col-lg-6 col-sm-12 mb-1 mt-2 p-2">
                    <div class="card">
                        <div class="card-header white">
                            <h4 class="h4 my-2">Пакет стандартный</h4>
                        </div>
                        <div class="card-body">
                            <h2 class="h2"><strong>$600</strong></h2>
                            {#                            <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong></p>#}
                            <hr/>
                            <ul class="list-unstyled text-left text-muted">
                                <li class="p-1">Консультация по подбору автомобиля</li>
                                <li class="p-1">Участие в торгах и покупка</li>
                                <li class="p-1">Оформление документов для экспорта</li>
                                <li class="p-1">Доставка в порт США</li>
                                <li class="p-1">Загрузка в контейнер</li>
                                <li class="p-1">Отправка в порт Одессы</li>
                                <li class="p-1">Разгрузка в порту</li>
                                <li class="p-1">Подготовка документов и растаможка</li>
                                <li class="p-1">Отправка клиенту в город</li>
                            </ul>
                        </div>
                        <div class="card-footer white d-flex justify-content-center">
                            <button class="btn btn-light-blue btn-lg btn-rounded waves-effect waves-light" data-target="#contact_form_id"
                               data-toggle="modal">Оставить заявку</button>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-sm-12 mb-1 mt-2 p-2">
                    <div class="card">
                        <div class="card-header white">
                            <h4 class="h4 my-2">Пакет максимальный</h4>
                        </div>
                        <div class="card-body">
                            <h2 class="h2"><strong>$1000</strong></h2>
                            {#                            <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong></p>#}
                            <hr/>
                            <ul class="list-unstyled text-left text-muted">
                                <li class="p-1">Консультация по подбору автомобиля</li>
                                <li class="p-1">Участие в торгах и покупка</li>
                                <li class="p-1">Оформление документов для экспорта</li>
                                <li class="p-1">Доставка в порт США</li>
                                <li class="p-1">Загрузка в контейнер</li>
                                <li class="p-1">Отправка в порт Одессы</li>
                                <li class="p-1">Разгрузка в порту</li>
                                <li class="p-1">Подготовка документов и растаможка</li>
                                <li class="p-1">Отправка клиенту в город</li>
                                <li class="p-1">Подбор и заказ запчастей</li>
                                <li class="p-1">Ремонт авто на одном из наших СТО</li>
                                <li class="p-1">Сертификация</li>
                                <li class="p-1">Постановка автомобиля на учет</li>
                            </ul>
                        </div>
                        <div class="card-footer white d-flex justify-content-center">
                            <button class="btn btn-light-blue btn-lg btn-rounded waves-effect waves-light" data-target="#contact_form_id"
                               data-toggle="modal">Оставить заявку</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}