{% extends "base.html" %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block description %}{{ post.description }}{% endblock %}
{% block keywords %}{{ post.keywords }}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <!--Section: Content-->
        <section class="mx-md-5 dark-grey-text">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-12">
                    <!-- Card -->
                    <div class="card card-cascade wider reverse">
                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img class="card-img-top" src="{{ post.image.url }}"
                                 alt="Sample image">
                        </div>
                        <!-- Card content -->
                        <div class="card-body card-body-cascade text-center">
                            <h3 class="font-weight-bold"><a>{{ post.title }}</a></h3>
                        </div>
                        <!-- Card content -->
                    </div>
                    <!-- Card -->
                    <!-- Excerpt -->
                    <div class="mt-5">
                        {% autoescape off %}
                            {{ post.body }}
                        {% endautoescape %}
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
            <hr>
        </section>
        <!--Section: Content-->
    </div>
{% endblock %}