/*mdb*/
body {
    font-family: "Roboto",sans-serif;
    font-weight: 300
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 300
}

.font-small {
    font-size: .9rem
}

strong {
    font-weight: 500
}

.view {
    position: relative;
    overflow: hidden;
    cursor: default
}

.view .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed
}

.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}

a.waves-effect,a.waves-light {
    display: inline-block
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}

.btn {
    margin: .375rem;
    color: inherit;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    padding: .84rem 2.14rem;
    font-size: .81rem
}

.btn.btn-lg {
    padding: 1rem 2.4rem;
    font-size: .94rem
}

.btn-light-blue {
    color: #fff;
}

.card .card-body h1,.card .card-body h2,.card .card-body h3,.card .card-body h4,.card .card-body h5,.card .card-body h6 {
    font-weight: 400
}

.navbar {
    font-weight: 300;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.navbar .navbar-toggler {
    border-width: 0;
    outline: 0
}

@media (max-width: 992px) {
    .navbar .container {
        width: 100%
    }
}

@media (min-width: 600px) {
    .navbar.scrolling-navbar {
        padding-top: 12px;
        padding-bottom: 12px;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out
    }
}

.modal {
    padding-right: 0 !important
}

footer.page-footer {
    bottom: 0;
    color: #fff
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    color: rgba(255,255,255,0.6);
    background-color: rgba(0,0,0,0.2)
}

.navbar.navbar-light .navbar-toggler-icon {
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

.navbar.navbar-light .navbar-toggler {
    color: #000
}

.card {
    font-weight: 400;
    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}



:root {
    --my-color-blue: #242A48;
    --my-color-green: #079818;
    --my-color-white: #EEEDE8;
}


.btn-light-blue {
    color: #fff;
    background-color: var(--my-color-blue) !important;
}

.mt-70 {
    margin-top: 70px;
}

.green-text {
    color: var(--my-color-green) !important;
    text-shadow: 5px 5px 5px var(--my-color-white);
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: calc(12px + .35vw);
    line-height: 26px;
    color: #5d6e7b;
    overflow-x: hidden;
}

/*html { font-size: calc(1em + 1vw) }*/
h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 1.616em;
}

h3 {
    font-size: 1.471em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.243em;
}

h6 {
    font-size: 1.132em;
}


html, body, header, .view {
    height: 100%;
}

.btn-outline-success {
    background-color: transparent !important;
    color: var(--my-color-green) !important;
    border-color: var(--my-color-green) !important;
}

.top-nav-collapse {
    background: rgba(234, 237, 240, .8) !important;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4) !important;
}

.navbar:not(.top-nav-collapse) {
    background: rgba(234, 237, 240, .8);
    box-shadow: 0 0 4px rgba(0, 0, 0, .4);
}

.nav-item {
    text-transform: uppercase;
    padding: 0 8px;
    font-weight: bold;
}

.navbar.navbar-light .breadcrumb .nav-item.active > .nav-link, .navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
    background-color: var(--my-color-blue);
    color: white;
}

a:hover {
    color: var(--my-color-green) !important;
}

button:hover {
    color: var(--my-color-green) !important;
}

label:hover {
    color: var(--my-color-green) !important;
}

nav > div > .navbar-brand {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

h5 {
    letter-spacing: 3px;
}

.jarallax {
    background-image: url('/static/media/header.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.blue_bg {
    opacity: 0.8;
    background-color: var(--my-color-blue);
    color: var(--my-color-white)!important;
}

.calc_block-table .calc_block-row {
    border-top: 1px solid #d1d3d7;
    font-size: 16px;
    padding: 5px 0;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calc-labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calc_block input.calc-radio:checked + label.calc-label {
    background: var(--my-color-blue);
    color: #fff;
}

.calc_block label.calc-label {
    font-size: 16px;
    color: #222;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.calc_block .calc-radio {
    display: none;
}

.calc_block-body > label {
    margin-top: 15px;
}

.page-section h2.section-heading {
    font-size: 25px;
    /*padding: 40px;*/
    margin-bottom: 40px;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.section-heading:after {
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 30%;
    height: 4px;
    background: var(--my-color-blue);
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.text-shadow {
    text-shadow: 0 0 2px var(--my-color-green);
}


/*кнопка обратной связи*/
.email-bt {
    background: var(--my-color-blue);
    border: 2px solid var(--my-color-blue);
    border-radius: 50%;
    box-shadow: 0 8px 10px rgba(161, 202, 220, 0.3);
    cursor: pointer;
    height: 10vh;
    text-align: center;;
    width: 10vh;
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 999;
    transition: .2s;
    -webkit-animation: email-an linear 1s infinite;
    animation: email-an linear 1s infinite;
}

.email-bt .btn-contact.focus, .btn-contact:focus {
    outline: 0;
    box-shadow: none;
}

.email-bt:hover {
    z-index: 1;
    background: var(--my-color-white);
    transition: .3s;
}

.email-bt .btn-contact {
    background-color: transparent;
    border-color: transparent;
}

.email-bt .btn-contact:focus .btn-contact:active {
    background-color: transparent;
    border-color: transparent;
}

.email-bt:hover i {
    color: var(--my-color-blue);
    font-size: 40px;
    transition: .3s;
}

.email-bt i {
    color: #fff;
    font-size: 5vh;
    transition: .3s;
    line-height: 8vh;
}

.email-bt i {
    -webkit-animation: opsimple 3s infinite;
    animation: opsimple 3s infinite;
}

@-webkit-keyframes email-an {
    0% {
        box-shadow: 0 8px 10px rgba(161, 202, 220, 0.3), 0 0 0 0 rgba(161, 202, 220, 0.2), 0 0 0 0 rgba(161, 202, 220, 0.2)
    }
    40% {
        box-shadow: 0 8px 10px rgba(161, 202, 220, 0.3), 0 0 0 15px rgba(161, 202, 220, 0.2), 0 0 0 0 rgba(161, 202, 220, 0.2)
    }
    80% {
        box-shadow: 0 8px 10px rgba(161, 202, 220, 0.3), 0 0 0 30px rgba(161, 202, 220, 0), 0 0 0 26.7px rgba(161, 202, 220, 0.067)
    }
    100% {
        box-shadow: 0 8px 10px rgba(161, 202, 220, 0.3), 0 0 0 30px rgba(161, 202, 220, 0), 0 0 0 40px rgba(161, 202, 220, 0.0)
    }
}

@keyframes email-an {
    0% {
        box-shadow: 0 8px 10px rgba(161, 202, 220, 0.3), 0 0 0 0 rgba(161, 202, 220, 0.2), 0 0 0 0 rgba(161, 202, 220, 0.2)
    }
    40% {
        box-shadow: 0 8px 10px rgba(161, 202, 220, 0.3), 0 0 0 15px rgba(161, 202, 220, 0.2), 0 0 0 0 rgba(161, 202, 220, 0.2)
    }
    80% {
        box-shadow: 0 8px 10px rgba(161, 202, 220, 0.3), 0 0 0 30px rgba(161, 202, 220, 0), 0 0 0 26.7px rgba(161, 202, 220, 0.067)
    }
    100% {
        box-shadow: 0 8px 10px rgba(161, 202, 220, 0.3), 0 0 0 30px rgba(161, 202, 220, 0), 0 0 0 40px rgba(161, 202, 220, 0.0)
    }
}

@keyframes opsimple {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes opsimple {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* конец кнопки звязи */


@media (min-width: 992px) {
    .calc_block label.calc-label span {
        padding: 0 20px;
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .calc_block label.calc-label span {
        padding: 0 5px;
    }

    thead th:not(:first-child) {
        display: none;
    }

    td, th {
        display: block;
    }

    td[data-th]:before  {
        content: attr(data-th);
    }
}

.calc_block_btn {
    margin-top: 30px;
}

@media (min-width: 600px) {
    .navbar.scrolling-navbar.top-nav-collapse {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}